{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if orders %}
    <h1>Все заказы</h1> 
    <a class="btn btn-primary my-3" href="{% url 'orders:create_order' %}">Создать заказ</a>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Номер стола</th>
                    <th>Список блюд</th>
                    <th>Список цен</th>
                    <th>Количество блюд</th>
                    <th>Стоимость позиции</th>
                    <th>Общая стоимость</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td><b>{{ order.id }}</b></td>
                    <td>{{ order.table_number }}</td>
                    <td>
                        <table>
                            {% for item in order.orderitems_set.all %}
                                <tr>
                                    <td>{{ item.meal.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for item in order.orderitems_set.all %}
                                <tr>
                                    <td>{{ item.meal.price }} руб.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for item in order.orderitems_set.all %}
                                <tr>
                                    <td>{{ item.quantity }} шт.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table>
                            {% for item in order.orderitems_set.all %}
                                <tr>
                                    <td>{{ item.item_price }} руб.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>{{ order.total_price }} руб.</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'orders:edit_status' order.id %}" class="btn btn-outline-primary">Изменить статус</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <a href="{% url 'orders:delete_order' order.id %}" class="btn btn-outline-danger">Удалить заказ</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p class="lead mt-3" >Пока здесь нет заказов, пожалуйста, создайте новый</p>
        <a class="btn btn-primary" href="{% url 'orders:create_order' %}">Создать заказ</>
    {% endif %}
    
{% endblock content %}